@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700|Poppins:300,400&display=swap');

$font-cursive: 'Dancing Script', cursive;
$font-body: 'Poppins', sans-serif;
$font-titles: 'Lato', sans-serif;

body {
  font-family: $font-body;
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
font-family: $font-titles;
    font-weight: 300;
}
h3 {
  padding-bottom: 2rem;
}

// Home
.landing-home {
  height: 100vh;
  background: url('../img/bg-home.jpg') center bottom;
  background-size: cover;
}

// Navbar
.navbar-light {
  margin-top: 5rem;
  .navbar-brand {
    color: white;
    font-family: $font-cursive;
    font-size: 28px;
    font-weight: bold;
  }
  .navbar-nav {
    .nav-link {
      color: #D9F0FF;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding-right: 2rem;
      font-size: 0.75rem;
    }
  }
}

// Highlight home

.hl-title {
  margin-top: 10vh;
  text-align: center;
  h1 {
    font-size: 6rem;
    letter-spacing: -5px;
    color: white;
  }
  span {
    color: white;
    font-size: 1.125rem;
    opacity: 70%;
    filter: alpha(opacity=0.7);
  }
}

// Buttons

.btn {
  margin-top: 5vh;
  a {
    color: white;
    font-family: $font-titles;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
.btn-lg {
  border-radius: 2.5rem;
  padding: 1.5rem 2rem;
}
.btn-primary {
  background-color: #325DFF;
}

// Projects
.landing-intro-projects {
  // height: 75vh;
  h3 {
    font-size: 3.1rem;
  }
  p {
    opacity: 50%;
    filter: alpha(opacity=0.5);
  }
  .intro-img {
    padding-left: 0;
    padding-right: 0;
    height: 75vh;
    max-height: 75vh;
    overflow: hidden;
  }
}

// Features
.landing-features {
  background-color: #fafafa;
  .features-intro {
    margin-top: 4.5rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  p {
    padding-bottom: 2rem;
  }
  .card {
    border-radius: 0;
    border: solid 0.5px #cecece;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  .card-header {
    background-color: white;
    border-bottom: none;
    padding-top: 2rem;
    h4 {
      font-weight: 400;
    }
    .img-fluid {
      padding: 2rem;
    }
  }
}

// Video
.landing-video {
  height: 75vh;
  background: url('../img/img-video.jpg') center center;
  background-size: cover;
  color: white;
  .video-space {
    padding-top: 8rem;
  }
  .img-fluid {
    padding: 4rem;    
  }
  h3 {
    font-size: 2.225rem;
  }
}

// Projects
.landing-projects {
  background-color: #fafafa;
  .features-intro {
    margin-top: 4.5rem;
  }
}

// Footer
.landing-footer {
  background-color: #325DFF;
  color: rgba(255,255,255,0.52);
  height: 10rem;
  .text-center {
    padding-top: 4rem;
  }
  span {
    font-size: 1.3rem;
  }
}

/* Extra small */
@media only screen and (max-width : 480px) {
  .landing-home {
    .navbar-light {
      margin-top: 1rem;
    }
  }
  .landing-intro-projects {
    .intro-texts {
      margin: 2rem 0;
    }
    h3 {
      font-size: 2.1rem;
    }
    .intro-img {
      height: 50vh;
    }
  }
  .landing-video {
    .video-space {
      padding-top: 2rem;
    }
  }
}

/* Small */
@media only screen and (max-width : 768px) {

}

/* Medium */
@media only screen and (max-width : 992px) {

}

/* Large */
@media only screen and (max-width : 1200px) {

}

